@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

$darker-grey: #323437;
$dark-grey: #3c4858;
$grey: #555555;
$light-grey: #999999;
$lighter-grey: #dcdcdc;
$orange: #ff9800;
$red: #f44336;
$pink: #e91e63;
$light-pink: #ffaec9;
$pink-purple: #9b2279;
$purple: #89229b;
$blue: #00bcd4;
$dark-blue: #23527c;
$green: #4caf50;
$header-gradient: linear-gradient(45deg, $pink-purple 0%, $pink 50%);

@mixin button(
  $button-color: $pink,
  $shadow-color: $pink,
  $border-radius: 100px,
  $color-change: $light-pink
) {
  a {
    color: white;
    transition: color ease-out 0.8s;
  }

  background-color: $button-color;
  border-radius: $border-radius;
  box-shadow: 0px 5px 10px -5px $shadow-color;
  transition: box-shadow ease-out 0.3s;

  &:hover {
    a {
      color: $color-change;
      transition: color ease-in 0.8s;
    }
    cursor: pointer;
    box-shadow: 0px 5px 10px -3px $shadow-color;
    transition: box-shadow ease-in 0.3s;
  }
}

@mixin container(
  $display: flex,
  $justify-content: space-between,
  $align-items: center,
  $gap: 0px
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

body {
  .home {
    .home-hero-wrapper {
      background-image: url("../../assets/clouds.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
      @include container($justify-content: center);

      .hero-image-wrapper {
        position: relative;
        display: inline-block;

        img {
          position: relative;
          width: 100%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 99%;
          background-color: #0000007b;
          z-index: 1;
        }
      }

      .hero-content-wrapper {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        align-items: center;
        color: white;
        z-index: 2;
        font-size: 14px;

        .hero-title-wrapper {
          margin: 0 15% 20px 15%;
          padding-top: 100px;

          h1 {
            font-size: 67px;
          }
        }

        .hero-text-wrapper {
          font-family: "Roboto Slab", "Times New Roman", Times, serif;
          padding: 40px 0;
        }
        .hero-button-wrapper {
          margin-top: 20px;
          padding: 20px;
          .button {
            padding: 15px 20px;
            @include button($border-radius: 5px);
          }
        }
      }
    }

    .page-content-wrapper {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Roboto Slab", "Times New Roman", Times, serif;
      }

      h2 {
        font-size: 37px;
      }

      h4,
      h5 {
        font-size: 18px;
      }

      .feat-wrapper {
        text-align: center;
        padding: 20px 20px 90px 20px;

        .feat-title-wrapper {
          padding-bottom: 40px;
        }

        .feat-items-wrapper {
          @include container($gap: 20px);
          padding: 10px;

          .feat-item {
            .feat-item-title-wrapper {
              padding: 24px 0;
            }

            .feat-item-text-wrapper {
              font-size: 14px;
              color: $light-grey;
              line-height: 20px;
            }
          }
        }
      }

      .about-wrapper {
        position: relative;
        height: 300px;
        background-image: url("../../assets/mountains.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        @include container($justify-content: center);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000000ab;
          z-index: 1;
        }

        .about-title-text-wrapper {
          width: 40%;
          .about-title-wrapper {
            position: relative;
            padding: 60px 30px 30px 30px;
            z-index: 1;
            h2 {
              font-size: 28px;
            }
          }

          .about-text-wrapper {
            position: relative;
            padding: 10px 30px 80px 30px;
            z-index: 1;
            font-size: 18px;
          }
        }

        .about-image-wrapper {
          width: 40%;
          text-align: center;
          img {
            position: relative;
            z-index: 1;
            width: 90%;
          }
        }
      }

      .blog-wrapper {
        margin-top: 30px;
        .blog-title-wrapper {
          text-align: center;
          padding-top: 25px;
        }
        h2 {
          font-size: 24px;
        }

        a {
          color: $grey;
        }

        .blog-items-wrapper {
          @include container($justify-content: center, $gap: 30px);

          .blog-item-wrapper {
            padding: 60px 0;
            width: 25%;
            .blog-item-tag-wrapper {
              font-size: 12px;
              padding-bottom: 17px;
              a {
                color: $purple;
              }
            }
            &:nth-of-type(2) {
              .blog-item-tag-wrapper {
                a {
                  color: $blue;
                }
              }
            }

            &:nth-of-type(3) {
              .blog-item-tag-wrapper {
                a {
                  color: $red;
                }
              }
            }

            .blog-item-text-wrapper {
              color: $light-grey;
              font-size: 14px;
              padding-top: 17px;

              a {
                color: $dark-blue;
              }
            }
          }
        }
      }

      .contact-wrapper {
        position: relative;
        height: 400px;
        background-image: url("../../assets/mountains.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000000ab;
          z-index: 1;
        }

        .contact-title-wrapper {
          position: relative;
          padding: 120px 30px 10px 30px;
          z-index: 1;
          h2 {
            font-size: 24px;
          }
        }

        .contact-items-wrapper {
          position: relative;
          padding: 20px 30px 10px 30px;
          z-index: 1;

          .contact-item-wrapper {
            margin-bottom: 10px;
            display: grid;
            grid-template-areas:
              "icon title"
              ". description";
            grid-template-columns: 1fr 10fr;

            .contact-item-icon-wrapper {
              grid-area: icon;
              font-size: 38px;
              padding: 12px 12px 0 0;
              justify-self: flex-end;
            }

            .contact-item-title-wrapper {
              grid-area: title;
              padding: 20px 0 15px;
            }

            .contact-item-description-wrapper {
              grid-area: description;
              color: $lighter-grey;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
