@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
body .home .home-hero-wrapper {
  background-image: url("../../assets/clouds.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
body .home .home-hero-wrapper .hero-image-wrapper {
  position: relative;
  display: inline-block;
}
body .home .home-hero-wrapper .hero-image-wrapper img {
  position: relative;
  width: 100%;
}
body .home .home-hero-wrapper .hero-image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.4823529412);
  z-index: 1;
}
body .home .home-hero-wrapper .hero-content-wrapper {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  align-items: center;
  color: white;
  z-index: 2;
  font-size: 14px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-title-wrapper {
  margin: 0 15% 20px 15%;
  padding-top: 100px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-title-wrapper h1 {
  font-size: 67px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-text-wrapper {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  padding: 40px 0;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper {
  margin-top: 20px;
  padding: 20px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button {
  padding: 15px 20px;
  background-color: #e91e63;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -5px #e91e63;
  transition: box-shadow ease-out 0.3s;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button a {
  color: white;
  transition: color ease-out 0.8s;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px -3px #e91e63;
  transition: box-shadow ease-in 0.3s;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}
body .home .page-content-wrapper h1,
body .home .page-content-wrapper h2,
body .home .page-content-wrapper h3,
body .home .page-content-wrapper h4,
body .home .page-content-wrapper h5,
body .home .page-content-wrapper h6 {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}
body .home .page-content-wrapper h2 {
  font-size: 37px;
}
body .home .page-content-wrapper h4,
body .home .page-content-wrapper h5 {
  font-size: 18px;
}
body .home .page-content-wrapper .feat-wrapper {
  text-align: center;
  padding: 20px 20px 90px 20px;
}
body .home .page-content-wrapper .feat-wrapper .feat-title-wrapper {
  padding-bottom: 40px;
}
body .home .page-content-wrapper .feat-wrapper .feat-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
body .home .page-content-wrapper .feat-wrapper .feat-items-wrapper .feat-item .feat-item-title-wrapper {
  padding: 24px 0;
}
body .home .page-content-wrapper .feat-wrapper .feat-items-wrapper .feat-item .feat-item-text-wrapper {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
}
body .home .page-content-wrapper .about-wrapper {
  position: relative;
  height: 300px;
  background-image: url("../../assets/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
body .home .page-content-wrapper .about-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6705882353);
  z-index: 1;
}
body .home .page-content-wrapper .about-wrapper .about-title-text-wrapper {
  width: 40%;
}
body .home .page-content-wrapper .about-wrapper .about-title-text-wrapper .about-title-wrapper {
  position: relative;
  padding: 60px 30px 30px 30px;
  z-index: 1;
}
body .home .page-content-wrapper .about-wrapper .about-title-text-wrapper .about-title-wrapper h2 {
  font-size: 28px;
}
body .home .page-content-wrapper .about-wrapper .about-title-text-wrapper .about-text-wrapper {
  position: relative;
  padding: 10px 30px 80px 30px;
  z-index: 1;
  font-size: 18px;
}
body .home .page-content-wrapper .about-wrapper .about-image-wrapper {
  width: 40%;
  text-align: center;
}
body .home .page-content-wrapper .about-wrapper .about-image-wrapper img {
  position: relative;
  z-index: 1;
  width: 90%;
}
body .home .page-content-wrapper .blog-wrapper {
  margin-top: 30px;
}
body .home .page-content-wrapper .blog-wrapper .blog-title-wrapper {
  text-align: center;
  padding-top: 25px;
}
body .home .page-content-wrapper .blog-wrapper h2 {
  font-size: 24px;
}
body .home .page-content-wrapper .blog-wrapper a {
  color: #555555;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper {
  padding: 60px 0;
  width: 25%;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-tag-wrapper {
  font-size: 12px;
  padding-bottom: 17px;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-tag-wrapper a {
  color: #89229b;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(2) .blog-item-tag-wrapper a {
  color: #00bcd4;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(3) .blog-item-tag-wrapper a {
  color: #f44336;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-text-wrapper {
  color: #999999;
  font-size: 14px;
  padding-top: 17px;
}
body .home .page-content-wrapper .blog-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-text-wrapper a {
  color: #23527c;
}
body .home .page-content-wrapper .contact-wrapper {
  position: relative;
  height: 400px;
  background-image: url("../../assets/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
body .home .page-content-wrapper .contact-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6705882353);
  z-index: 1;
}
body .home .page-content-wrapper .contact-wrapper .contact-title-wrapper {
  position: relative;
  padding: 120px 30px 10px 30px;
  z-index: 1;
}
body .home .page-content-wrapper .contact-wrapper .contact-title-wrapper h2 {
  font-size: 24px;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper {
  position: relative;
  padding: 20px 30px 10px 30px;
  z-index: 1;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper {
  margin-bottom: 10px;
  display: grid;
  grid-template-areas: "icon title" ". description";
  grid-template-columns: 1fr 10fr;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper .contact-item-icon-wrapper {
  grid-area: icon;
  font-size: 38px;
  padding: 12px 12px 0 0;
  justify-self: flex-end;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper .contact-item-title-wrapper {
  grid-area: title;
  padding: 20px 0 15px;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper .contact-item-description-wrapper {
  grid-area: description;
  color: #dcdcdc;
  font-size: 14px;
}/*# sourceMappingURL=home.css.map */