@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

$dark-grey: #323437;
$grey: #555555;
$light-grey: #999999;
$lighter-grey: #dcdcdc;
$orange: #ff9800;
$red: #f44336;
$pink: #e91e63;
$light-pink: #ffaec9;
$pink-purple: #9b2279;
$purple: #89229b;
$blue: #00bcd4;
$dark-blue: #23527c;
$green: #4caf50;
$header-gradient: linear-gradient(45deg, $pink-purple 0%, $pink 50%);

@mixin button(
  $button-color: $pink,
  $shadow-color: $pink,
  $border-radius: 100px,
  $color-change: $light-pink
) {
  a {
    color: white;
    transition: color ease-out 0.8s;
    text-decoration: none;
  }

  background-color: $button-color;
  border-radius: $border-radius;
  box-shadow: 0px 5px 10px -5px $shadow-color;
  transition: box-shadow ease-out 0.3s;

  &:hover {
    a {
      color: $color-change;
      transition: color ease-in 0.8s;
    }
    box-shadow: 0px 5px 10px -3px $shadow-color;
    transition: box-shadow ease-in 0.3s;
  }
}

@mixin container(
  $display: flex,
  $justify-content: space-between,
  $align-items: center,
  $gap: 0px
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

  .page-wrapper {
    background-color: $lighter-grey;

    header {
      nav {
        position: fixed;
        @include container;
        background-color: white;
        font-size: 12px;
        height: 75px;
        width: 100vw;
        z-index: 100;
        top: 0px;

        a {
          text-decoration: none;
          color: $grey;
        }

        .nav-name {
          font-size: 18px;
          margin-left: 15px;
          padding: 10px 15px;
        }

        .nav-items {
          display: flex;
          margin-right: 15px;

          .nav-item {
            padding: 15px;
          }

          .nav-button {
            a {
              color: white;
              padding: 5px 10px;
            }
            @include button;
          }
        }
      }
    }

    .page-content-wrapper {
      margin: 0 15px;
      background-color: white;
      border-radius: 5px 5px 0 0;
      position: relative;
      top: -50px;
      z-index: 99;
      box-shadow: 0px 5px 17px 0px $grey;
    }

    footer {
      color: white;
      background-color: $dark-grey;
      font-size: 14px;
      position: relative;
      bottom: 0;
      width: 100vw;
      height: 0px;
      z-index: 100;

      .footer-items-wrapper {
        margin: 0;
        height: 100px;
        position: relative;
        background-color: $dark-grey;
        top: -50px;
        @include container;

        a {
          color: white;
          text-decoration: none;
        }

        .footer-links-wrapper,
        .footer-developed-wrapper {
          width: 50%;
          @include container($justify-content: center, $gap: 30px);
        }

        .footer-links-wrapper {
          font-size: 12px;
        }
      }
    }
  }
}
