@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body .page-wrapper {
  background-color: #dcdcdc;
}
body .page-wrapper header nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  background-color: white;
  font-size: 12px;
  height: 75px;
  width: 100vw;
  z-index: 100;
  top: 0px;
}
body .page-wrapper header nav a {
  text-decoration: none;
  color: #555555;
}
body .page-wrapper header nav .nav-name {
  font-size: 18px;
  margin-left: 15px;
  padding: 10px 15px;
}
body .page-wrapper header nav .nav-items {
  display: flex;
  margin-right: 15px;
}
body .page-wrapper header nav .nav-items .nav-item {
  padding: 15px;
}
body .page-wrapper header nav .nav-items .nav-button {
  background-color: #e91e63;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -5px #e91e63;
  transition: box-shadow ease-out 0.3s;
}
body .page-wrapper header nav .nav-items .nav-button a {
  color: white;
  padding: 5px 10px;
}
body .page-wrapper header nav .nav-items .nav-button a {
  color: white;
  transition: color ease-out 0.8s;
  text-decoration: none;
}
body .page-wrapper header nav .nav-items .nav-button:hover {
  box-shadow: 0px 5px 10px -3px #e91e63;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper header nav .nav-items .nav-button:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}
body .page-wrapper .hero-wrapper {
  background-image: linear-gradient(45deg, #9b2279 0%, #e91e63 50%);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
body .page-wrapper .hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 425px;
  background-color: rgba(47, 47, 47, 0.1019607843);
  z-index: 1;
}
body .page-wrapper .hero-wrapper .hero-title {
  color: white;
  z-index: 2;
}
body .page-wrapper .page-content-wrapper {
  margin: 0 15px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: -50px;
  z-index: 99;
  box-shadow: 0px 5px 17px 0px #555555;
}
body .page-wrapper footer {
  color: white;
  background-color: #323437;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 0px;
  z-index: 100;
}
body .page-wrapper footer .footer-items-wrapper {
  margin: 0;
  height: 100px;
  position: relative;
  background-color: #323437;
  top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
body .page-wrapper footer .footer-items-wrapper a {
  color: white;
  text-decoration: none;
}
body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper,
body .page-wrapper footer .footer-items-wrapper .footer-developed-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper {
  font-size: 12px;
}/*# sourceMappingURL=common.css.map */