@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

$darker-grey: #323437;
$dark-grey: #3c4858;
$grey: #555555;
$light-grey: #999999;
$lighter-grey: #dcdcdc;
$orange: #ff9800;
$red: #f44336;
$pink: #e91e63;
$light-pink: #ffaec9;
$pink-purple: #9b2279;
$purple: #89229b;
$blue: #00bcd4;
$dark-blue: #23527c;
$green: #4caf50;
$header-gradient: linear-gradient(45deg, $pink-purple 0%, $pink 50%);

@mixin button(
  $button-color: $pink,
  $shadow-color: $pink,
  $border-radius: 100px,
  $color-change: $light-pink
) {
  a {
    color: white;
    transition: color ease-out 0.8s;
  }

  background-color: $button-color;
  border-radius: $border-radius;
  box-shadow: 0px 5px 10px -5px $shadow-color;
  transition: box-shadow ease-out 0.3s;

  &:hover {
    a {
      color: $color-change;
      transition: color ease-in 0.8s;
    }
    box-shadow: 0px 5px 10px -3px $shadow-color;
    transition: box-shadow ease-in 0.3s;
  }
}

@mixin container(
  $display: flex,
  $justify-content: space-between,
  $align-items: center,
  $gap: 0px
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  .break-line {
    border-top: solid $lighter-grey 1px;
    margin-top: 40px;
  }
  .page-wrapper {
    background-color: $lighter-grey;

    header {
      width: 100%;
      nav {
        position: fixed;
        @include container;
        background-color: white;
        font-size: 12px;
        height: 75px;
        width: inherit;
        z-index: 100;
        top: 0px;

        a {
          color: $grey;
        }

        .nav-name {
          font-size: 18px;
          margin-left: 15px;
          padding: 10px 15px;
        }

        .nav-items {
          display: flex;
          margin-right: 15px;

          .nav-item {
            padding: 15px;

            a {
              &:hover {
                color: $pink;
                transition: color ease-in 0.3s;
              }
            }
          }

          .nav-button {
            a {
              color: white;
              padding: 5px 10px;
            }
            @include button;
            margin-right: 15px;
          }
        }
      }
    }

    .hero-wrapper {
      background-image: $header-gradient;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 425px;
      @include container($justify-content: center);
      color: white;
      flex-direction: column;
      gap: 30px;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 100;

      .hero-text {
        z-index: 1;
        a {
          color: white;
          font-weight: bold;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 425px;
        background-color: #2f2f2f1a;
        z-index: 1;
      }

      .hero-title {
        color: white;
        z-index: 2;
      }
    }

    .page-content-wrapper {
      margin: 0 15px;
      background-color: white;
      border-radius: 5px 5px 0 0;
      position: relative;
      top: -50px;
      z-index: 99;
      box-shadow: 0px 5px 17px 0px $grey;

      .categories-wrapper {
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 11.5px;
        @include container($justify-content: flex-start, $gap: 10px);

        p {
          margin: 0;
        }

        .categories-buttons-wrapper {
          .category-button-wrapper {
            @include button($shadow-color: white);
            font-size: 10px;
            padding: 5px 12px;
          }
        }
      }

      .tags-wrapper {
        line-height: 11.5px;
        font-size: 14px;
        @include container($justify-content: flex-start, $gap: 10px);

        a {
          color: $pink;
          margin-right: 5px;
        }

        p {
          margin: 0;
        }
      }

      .share-icons-wrapper {
        @include container($justify-content: flex-start, $gap: 10px);
        color: white;
        font-size: 20px;
        position: relative;
        z-index: 100;
        margin-top: 15px;
        height: 45px;

        .share-icon-wrapper {
          text-align: center;
          width: 45px;
          height: inherit;
          @include container($justify-content: center);
        }

        .facebook-icon {
          @include button(
            $button-color: #3c5998,
            $color-change: white,
            $shadow-color: $dark-grey
          );
        }

        .x-icon {
          @include button(
            $button-color: black,
            $color-change: white,
            $shadow-color: $dark-grey
          );
        }

        .mail-icon {
          @include button(
            $button-color: $light-grey,
            $color-change: white,
            $shadow-color: $dark-grey
          );
        }
      }
    }

    .related-wrapper {
      margin: 80px 35px 40px;
      .related-title {
        text-align: center;
        h2 {
          font-family: "Roboto Slab", "Times New Roman", Times, serif;
          font-size: 37px;
        }
      }

      .related-items-wrapper {
        margin-bottom: 88px;
        a {
          color: $grey;
        }

        .related-item-wrapper {
          background-color: white;
          padding: 15px 30px;
          margin-top: 60px;
          display: block;
          justify-self: center;
          border-radius: 5px;
          box-shadow: 0px 5px 17px 0px $grey;
          width: calc(100% - 70px);
          max-width: 720px;

          .related-item-tag-wrapper {
            font-size: 12px;
            padding-bottom: 17px;
            a {
              color: $purple;
            }
          }
          &:nth-of-type(2) {
            .related-item-tag-wrapper {
              a {
                color: $blue;
              }
            }
          }

          &:nth-of-type(3) {
            .related-item-tag-wrapper {
              a {
                color: $red;
              }
            }
          }

          .related-item-title-wrapper {
            h4 {
              font-size: 18px;
              font-family: "Roboto Slab", "Times New Roman", Times, serif;
            }
          }

          .related-item-text-wrapper {
            color: $light-grey;
            font-size: 14px;
            padding-top: 17px;
            margin-bottom: 10px;

            a {
              color: $dark-blue;
            }
          }
        }
      }
    }

    footer {
      color: white;
      background-color: $darker-grey;
      font-size: 14px;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 0px;
      z-index: 100;

      .footer-items-wrapper {
        margin: 0;
        height: 100px;
        position: relative;
        background-color: $darker-grey;
        top: -50px;
        @include container;

        a {
          color: white;
        }

        .footer-links-wrapper,
        .footer-developed-wrapper {
          width: 50%;
          @include container($justify-content: center, $gap: 30px);
        }

        .footer-links-wrapper {
          font-size: 12px;
        }
      }
    }
  }
}
