@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body .page-wrapper {
  background-color: #888888;
}
body .page-wrapper header nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  background-color: white;
  font-size: 12px;
  height: 75px;
  width: 100vw;
  z-index: 100;
  top: 0px;
}
body .page-wrapper header nav a {
  text-decoration: none;
  color: #555555;
}
body .page-wrapper header nav .nav-name {
  font-size: 18px;
  margin-left: 15px;
  padding: 10px 15px;
}
body .page-wrapper header nav .nav-items {
  display: flex;
  margin-right: 15px;
}
body .page-wrapper header nav .nav-items .nav-item {
  padding: 15px;
}
body .page-wrapper header nav .nav-items .nav-button {
  background-color: #e91e63;
  border-radius: 100px;
  box-shadow: 0px 5px 30px -8px #e91e63;
  transition: box-shadow ease-out 0.3s;
}
body .page-wrapper header nav .nav-items .nav-button a {
  color: white;
  padding: 5px 10px;
}
body .page-wrapper header nav .nav-items .nav-button a {
  color: white;
  transition: color ease-out 0.8s;
  text-decoration: none;
}
body .page-wrapper header nav .nav-items .nav-button:hover {
  box-shadow: 0px 10px 20px -5px #e91e63;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper header nav .nav-items .nav-button:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}
body .page-wrapper .page-content-wrapper {
  margin: 0 20px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: -50px;
  z-index: 99;
  padding-bottom: 50px;
}
body .page-wrapper footer {
  color: white;
  background-color: #323437;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 0px;
}
body .page-wrapper footer .footer-items-wrapper {
  margin: 0;
  height: 100px;
  position: relative;
  background-color: #323437;
  top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
body .page-wrapper footer .footer-items-wrapper a {
  color: white;
  text-decoration: none;
}
body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper,
body .page-wrapper footer .footer-items-wrapper .footer-developed-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper {
  font-size: 12px;
}

body .page-wrapper#home .hero-wrapper {
  background-image: url("../../assets/clouds.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
body .page-wrapper#home .hero-wrapper .hero-image-wrapper {
  position: relative;
  display: inline-block;
}
body .page-wrapper#home .hero-wrapper .hero-image-wrapper img {
  position: relative;
  width: 100vw;
}
body .page-wrapper#home .hero-wrapper .hero-image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.3%;
  background-color: rgba(0, 0, 0, 0.4823529412);
  z-index: 1;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper {
  position: absolute;
  display: block;
  text-align: center;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper .hero-title-wrapper {
  margin-bottom: 20px;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper .hero-button-wrapper {
  margin-top: 20px;
  padding: 20px;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper .hero-button-wrapper .button {
  padding: 15px 20px;
  background-color: #e91e63;
  border-radius: 5px;
  box-shadow: 0px 5px 30px -8px #e91e63;
  transition: box-shadow ease-out 0.3s;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper .hero-button-wrapper .button a {
  color: white;
  transition: color ease-out 0.8s;
  text-decoration: none;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper .hero-button-wrapper .button:hover {
  box-shadow: 0px 10px 20px -5px #e91e63;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper#home .hero-wrapper .hero-content-wrapper .hero-button-wrapper .button:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}/*# sourceMappingURL=main.css.map */