@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  cursor: pointer;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
body .break-line {
  border-top: solid #dcdcdc 1px;
  margin-top: 40px;
}
body .page-wrapper {
  background-color: #dcdcdc;
}
body .page-wrapper header {
  width: 100%;
}
body .page-wrapper header nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  background-color: white;
  font-size: 12px;
  height: 75px;
  width: inherit;
  z-index: 100;
  top: 0px;
}
body .page-wrapper header nav a {
  color: #555555;
}
body .page-wrapper header nav .nav-name {
  font-size: 18px;
  margin-left: 15px;
  padding: 10px 15px;
}
body .page-wrapper header nav .nav-items {
  display: flex;
  margin-right: 15px;
}
body .page-wrapper header nav .nav-items .nav-item {
  padding: 15px;
}
body .page-wrapper header nav .nav-items .nav-item a:hover {
  color: #e91e63;
  transition: color ease-in 0.3s;
}
body .page-wrapper header nav .nav-items .nav-button {
  background-color: #e91e63;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -5px #e91e63;
  transition: box-shadow ease-out 0.3s;
  margin-right: 15px;
}
body .page-wrapper header nav .nav-items .nav-button a {
  color: white;
  padding: 5px 10px;
}
body .page-wrapper header nav .nav-items .nav-button a {
  color: white;
  transition: color ease-out 0.8s;
}
body .page-wrapper header nav .nav-items .nav-button:hover {
  box-shadow: 0px 5px 10px -3px #e91e63;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper header nav .nav-items .nav-button:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}
body .page-wrapper .hero-wrapper {
  background-image: linear-gradient(45deg, #9b2279 0%, #e91e63 50%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  color: white;
  flex-direction: column;
  gap: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
}
body .page-wrapper .hero-wrapper .hero-text {
  z-index: 1;
}
body .page-wrapper .hero-wrapper .hero-text a {
  color: white;
  font-weight: bold;
}
body .page-wrapper .hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 425px;
  background-color: rgba(47, 47, 47, 0.1019607843);
  z-index: 1;
}
body .page-wrapper .hero-wrapper .hero-title {
  color: white;
  z-index: 2;
}
body .page-wrapper .page-content-wrapper {
  margin: 0 15px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: -50px;
  z-index: 99;
  box-shadow: 0px 5px 17px 0px #555555;
}
body .page-wrapper .page-content-wrapper .categories-wrapper {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 11.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
body .page-wrapper .page-content-wrapper .categories-wrapper p {
  margin: 0;
}
body .page-wrapper .page-content-wrapper .categories-wrapper .categories-buttons-wrapper .category-button-wrapper {
  background-color: #e91e63;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -5px white;
  transition: box-shadow ease-out 0.3s;
  font-size: 10px;
  padding: 5px 12px;
}
body .page-wrapper .page-content-wrapper .categories-wrapper .categories-buttons-wrapper .category-button-wrapper a {
  color: white;
  transition: color ease-out 0.8s;
}
body .page-wrapper .page-content-wrapper .categories-wrapper .categories-buttons-wrapper .category-button-wrapper:hover {
  box-shadow: 0px 5px 10px -3px white;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper .page-content-wrapper .categories-wrapper .categories-buttons-wrapper .category-button-wrapper:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}
body .page-wrapper .page-content-wrapper .tags-wrapper {
  line-height: 11.5px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
body .page-wrapper .page-content-wrapper .tags-wrapper a {
  color: #e91e63;
  margin-right: 5px;
}
body .page-wrapper .page-content-wrapper .tags-wrapper p {
  margin: 0;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
  position: relative;
  z-index: 100;
  margin-top: 15px;
  height: 45px;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .share-icon-wrapper {
  text-align: center;
  width: 45px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .facebook-icon {
  background-color: #3c5998;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -5px #3c4858;
  transition: box-shadow ease-out 0.3s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .facebook-icon a {
  color: white;
  transition: color ease-out 0.8s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .facebook-icon:hover {
  box-shadow: 0px 5px 10px -3px #3c4858;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .facebook-icon:hover a {
  color: white;
  transition: color ease-in 0.8s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .x-icon {
  background-color: black;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -5px #3c4858;
  transition: box-shadow ease-out 0.3s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .x-icon a {
  color: white;
  transition: color ease-out 0.8s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .x-icon:hover {
  box-shadow: 0px 5px 10px -3px #3c4858;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .x-icon:hover a {
  color: white;
  transition: color ease-in 0.8s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .mail-icon {
  background-color: #999999;
  border-radius: 100px;
  box-shadow: 0px 5px 10px -5px #3c4858;
  transition: box-shadow ease-out 0.3s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .mail-icon a {
  color: white;
  transition: color ease-out 0.8s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .mail-icon:hover {
  box-shadow: 0px 5px 10px -3px #3c4858;
  transition: box-shadow ease-in 0.3s;
}
body .page-wrapper .page-content-wrapper .share-icons-wrapper .mail-icon:hover a {
  color: white;
  transition: color ease-in 0.8s;
}
body .page-wrapper .related-wrapper {
  margin: 80px 35px 40px;
}
body .page-wrapper .related-wrapper .related-title {
  text-align: center;
}
body .page-wrapper .related-wrapper .related-title h2 {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 37px;
}
body .page-wrapper .related-wrapper .related-items-wrapper {
  margin-bottom: 88px;
}
body .page-wrapper .related-wrapper .related-items-wrapper a {
  color: #555555;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper {
  background-color: white;
  padding: 15px 30px;
  margin-top: 60px;
  display: block;
  justify-self: center;
  border-radius: 5px;
  box-shadow: 0px 5px 17px 0px #555555;
  width: calc(100% - 70px);
  max-width: 720px;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper .related-item-tag-wrapper {
  font-size: 12px;
  padding-bottom: 17px;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper .related-item-tag-wrapper a {
  color: #89229b;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper:nth-of-type(2) .related-item-tag-wrapper a {
  color: #00bcd4;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper:nth-of-type(3) .related-item-tag-wrapper a {
  color: #f44336;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper .related-item-title-wrapper h4 {
  font-size: 18px;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper .related-item-text-wrapper {
  color: #999999;
  font-size: 14px;
  padding-top: 17px;
  margin-bottom: 10px;
}
body .page-wrapper .related-wrapper .related-items-wrapper .related-item-wrapper .related-item-text-wrapper a {
  color: #23527c;
}
body .page-wrapper footer {
  color: white;
  background-color: #323437;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0px;
  z-index: 100;
}
body .page-wrapper footer .footer-items-wrapper {
  margin: 0;
  height: 100px;
  position: relative;
  background-color: #323437;
  top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
body .page-wrapper footer .footer-items-wrapper a {
  color: white;
}
body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper,
body .page-wrapper footer .footer-items-wrapper .footer-developed-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper {
  font-size: 12px;
}

body .home .home-hero-wrapper {
  background-image: url("../../assets/clouds.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
body .home .home-hero-wrapper .hero-image-wrapper {
  position: relative;
  display: inline-block;
  height: 99vw;
}
body .home .home-hero-wrapper .hero-image-wrapper img {
  position: relative;
  width: 100%;
}
body .home .home-hero-wrapper .hero-image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.3%;
  background-color: rgba(0, 0, 0, 0.4823529412);
  z-index: 1;
}
body .home .home-hero-wrapper .hero-content-wrapper {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  font-size: 14px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-title-wrapper {
  margin: 0 15% 20px 15%;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-title-wrapper h1 {
  font-size: 67px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-text-wrapper {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper {
  margin-top: 20px;
  padding: 20px;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button {
  padding: 15px 20px;
  background-color: #e91e63;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -5px #e91e63;
  transition: box-shadow ease-out 0.3s;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button a {
  color: white;
  transition: color ease-out 0.8s;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button:hover {
  box-shadow: 0px 5px 10px -3px #e91e63;
  transition: box-shadow ease-in 0.3s;
}
body .home .home-hero-wrapper .hero-content-wrapper .hero-button-wrapper .button:hover a {
  color: #ffaec9;
  transition: color ease-in 0.8s;
}
body .home .page-content-wrapper h1,
body .home .page-content-wrapper h2,
body .home .page-content-wrapper h3,
body .home .page-content-wrapper h4,
body .home .page-content-wrapper h5,
body .home .page-content-wrapper h6 {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}
body .home .page-content-wrapper h2 {
  font-size: 37px;
}
body .home .page-content-wrapper h4,
body .home .page-content-wrapper h5 {
  font-size: 18px;
}
body .home .page-content-wrapper .feat-wrapper {
  text-align: center;
  padding: 20px 20px 90px 20px;
}
body .home .page-content-wrapper .feat-wrapper .feat-title-wrapper {
  padding-bottom: 40px;
}
body .home .page-content-wrapper .feat-wrapper .feat-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
body .home .page-content-wrapper .feat-wrapper .feat-items-wrapper .feat-item .feat-item-title-wrapper {
  padding: 24px 0;
}
body .home .page-content-wrapper .feat-wrapper .feat-items-wrapper .feat-item .feat-item-text-wrapper {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
}
body .home .page-content-wrapper .about-wrapper {
  position: relative;
  height: 550px;
  background-image: url("../../assets/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
body .home .page-content-wrapper .about-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6705882353);
  z-index: 1;
}
body .home .page-content-wrapper .about-wrapper .about-title-wrapper {
  position: relative;
  padding: 40px 30px 10px 30px;
  z-index: 1;
}
body .home .page-content-wrapper .about-wrapper .about-title-wrapper h2 {
  font-size: 28px;
}
body .home .page-content-wrapper .about-wrapper .about-text-wrapper {
  position: relative;
  padding: 10px 30px 80px 30px;
  z-index: 1;
  font-size: 18px;
}
body .home .page-content-wrapper .about-wrapper .about-image-wrapper {
  width: 100%;
  text-align: center;
}
body .home .page-content-wrapper .about-wrapper .about-image-wrapper img {
  position: relative;
  z-index: 1;
  width: 90%;
}
body .home .page-content-wrapper .blog-wrapper {
  text-align: center;
  margin-top: 30px;
}
body .home .page-content-wrapper .blog-wrapper h2 {
  font-size: 24px;
}
body .home .page-content-wrapper .blog-wrapper a {
  color: #555555;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper {
  padding: 60px 30px;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper .blog-item-tag-wrapper {
  font-size: 12px;
  padding-bottom: 17px;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper .blog-item-tag-wrapper a {
  color: #89229b;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper:nth-of-type(2) .blog-item-tag-wrapper a {
  color: #00bcd4;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper:nth-of-type(3) .blog-item-tag-wrapper a {
  color: #f44336;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper .blog-item-text-wrapper {
  color: #999999;
  font-size: 14px;
  padding-top: 17px;
}
body .home .page-content-wrapper .blog-wrapper .blog-item-wrapper .blog-item-text-wrapper a {
  color: #23527c;
}
body .home .page-content-wrapper .contact-wrapper {
  position: relative;
  height: 400px;
  background-image: url("../../assets/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
body .home .page-content-wrapper .contact-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6705882353);
  z-index: 1;
}
body .home .page-content-wrapper .contact-wrapper .contact-title-wrapper {
  position: relative;
  padding: 120px 30px 10px 30px;
  z-index: 1;
}
body .home .page-content-wrapper .contact-wrapper .contact-title-wrapper h2 {
  font-size: 24px;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper {
  position: relative;
  padding: 20px 30px 10px 30px;
  z-index: 1;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper {
  margin-bottom: 10px;
  display: grid;
  grid-template-areas: "icon title" ". description";
  grid-template-columns: 1fr 10fr;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper .contact-item-icon-wrapper {
  grid-area: icon;
  font-size: 38px;
  padding: 12px 12px 0 0;
  justify-self: flex-end;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper .contact-item-title-wrapper {
  grid-area: title;
  padding: 20px 0 15px;
}
body .home .page-content-wrapper .contact-wrapper .contact-items-wrapper .contact-item-wrapper .contact-item-description-wrapper {
  grid-area: description;
  color: #dcdcdc;
  font-size: 14px;
}

body .blog header nav .nav-items .nav-item:nth-of-type(2) a {
  color: #e91e63;
}
body .blog .page-content-wrapper .blog-items-wrapper {
  padding: 17px;
  font-size: 14px;
}
body .blog .page-content-wrapper .blog-items-wrapper h2 {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 25px;
}
body .blog .page-content-wrapper .blog-items-wrapper a {
  color: #3c4858;
  text-decoration: none;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper {
  padding: 50px 0;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-tag-wrapper {
  font-size: 12px;
  margin-bottom: 12px;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-tag-wrapper a {
  color: #89229b;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(2) .blog-item-tag-wrapper a {
  color: #00bcd4;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(3) .blog-item-tag-wrapper a {
  color: #f44336;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(4) .blog-item-tag-wrapper a {
  color: #ff9800;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(5) .blog-item-tag-wrapper a {
  color: #e91e63;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper:nth-of-type(6) .blog-item-tag-wrapper a {
  color: #4caf50;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-description-wrapper {
  margin: 12px 0;
  color: #999999;
  line-height: 20px;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-description-wrapper a {
  color: #23527c;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-date-wrapper {
  color: #3c4858;
}
body .blog .page-content-wrapper .blog-items-wrapper .blog-item-wrapper .blog-item-date-wrapper a:nth-of-type(1) {
  font-weight: bold;
}

body .contact header nav .nav-items .nav-item:nth-of-type(3) a {
  color: #e91e63;
}
body .contact .hero-wrapper .hero-maps-wrapper {
  margin-top: 75px;
  z-index: 2;
  width: 100%;
}
body .contact .hero-wrapper .hero-maps-wrapper iframe {
  height: 356px;
  width: 100%;
}
body .contact .contact-content-wrapper {
  background-color: white;
  color: #999999;
  width: calc(100% - 50px);
  padding: 60px 25px 125px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
body .contact .contact-content-wrapper .left-column-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 80px;
  flex-direction: column;
  height: 75%;
  width: 50%;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-title-wrapper h2 {
  color: #3c4858;
  font-size: 37px;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper {
  width: 100%;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  flex-direction: column;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form input {
  border: none;
  border-bottom: #dcdcdc solid 2px;
  width: 80%;
  transition: border-color ease-out 0.3s;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form input:focus {
  outline: none;
  border-color: #e91e63;
  transition: border-color ease-in 0.3s;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form input::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form textarea {
  outline: none;
  border: none;
  border-bottom: #dcdcdc solid 2px;
  width: 80%;
  height: 50%;
  transition: border-color ease-out 0.3s;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form textarea::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form textarea:focus {
  border-color: #e91e63;
  transition: border-color ease-in 0.3s;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form button {
  background-color: #e91e63;
  border: none;
  border-radius: 3px;
  padding: 15px 35px;
  color: white;
  font-size: 12px;
  box-shadow: 0px 0.5px 15px -3px #e91e63;
  transition: box-shadow ease-out 0.3s;
  cursor: pointer;
}
body .contact .contact-content-wrapper .left-column-wrapper .contact-form-wrapper form button:hover {
  box-shadow: 0px 3px 15px -3px #e91e63;
  transition: box-shadow ease-in 0.5s;
}
body .contact .contact-content-wrapper .right-column-wrapper {
  width: calc(50% - 80px);
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  flex-direction: column;
}
body .contact .contact-content-wrapper .right-column-wrapper .right-column-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  flex-direction: column;
  height: 25%;
}
body .contact .contact-content-wrapper .right-column-wrapper .right-column-item-wrapper .right-column-item-title-wrapper {
  font-weight: bold;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  color: #3c4858;
  font-size: 18px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
body .contact .contact-content-wrapper .right-column-wrapper .right-column-item-wrapper .right-column-item-title-wrapper img {
  height: 25px;
  width: 25px;
}
body .contact .contact-content-wrapper .right-column-wrapper .right-column-item-wrapper .right-column-item-text-wrapper {
  line-height: 20px;
}

body {
  color: #3c4858;
  line-height: 25px;
}
body .elements .page-content-wrapper h1 {
  font-size: 42px;
  margin: 40px 0;
}
body .elements .page-content-wrapper h2 {
  font-size: 37px;
  margin: 38px 0;
}
body .elements .page-content-wrapper h3 {
  font-size: 32px;
  margin: 36px 0;
}
body .elements .page-content-wrapper h4 {
  font-size: 27px;
  margin: 34px 0;
}
body .elements .page-content-wrapper h5 {
  font-size: 23px;
  margin: 32px 0;
}
body .elements .page-content-wrapper h6 {
  font-size: 18px;
  margin: 30px 0;
}
body .elements .page-content-wrapper a {
  color: #e91e63;
}
body .elements .page-content-wrapper p {
  margin-bottom: 15px;
}
body .elements .page-content-wrapper dt {
  font-weight: bold;
}
body .elements .page-content-wrapper ol,
body .elements .page-content-wrapper ul {
  margin-bottom: 30px;
}
body .elements .page-content-wrapper legend {
  font-size: 21px;
  margin-bottom: 20px;
}
body .elements .page-content-wrapper label {
  font-weight: bold;
}
body .elements .page-content-wrapper input {
  border: none;
  border-bottom: #dcdcdc solid 2px;
  width: 100%;
  transition: border-color ease-out 0.3s;
}
body .elements .page-content-wrapper input:focus {
  outline: none;
  border-color: #e91e63;
  transition: border-color ease-in 0.3s;
}
body .elements .page-content-wrapper input::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .elements .page-content-wrapper input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .elements .page-content-wrapper input[type=radio], body .elements .page-content-wrapper input[type=checkbox], body .elements .page-content-wrapper input[type=file], body .elements .page-content-wrapper input.button {
  width: auto;
  border-bottom: none;
}
body .elements .page-content-wrapper input[type=file] {
  padding: 10px 0 0 10px;
}
body .elements .page-content-wrapper input[type=file]::file-selector-button {
  font-size: 16px;
}
body .elements .page-content-wrapper textarea {
  outline: none;
  border: none;
  border-bottom: #dcdcdc solid 2px;
  width: 100%;
  height: 50px;
  transition: border-color ease-out 0.3s;
}
body .elements .page-content-wrapper textarea::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .elements .page-content-wrapper textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body .elements .page-content-wrapper textarea:focus {
  border-color: #e91e63;
  transition: border-color ease-in 0.3s;
}
body .elements .page-content-wrapper button {
  height: 50px;
  margin-right: 5px;
  border-radius: 3px;
}
body .elements .page-content-wrapper button[type=reset] {
  border: solid #555555 1px;
  box-shadow: 0px 1.5px 5px -2px #e91e63;
}
body .elements .page-content-wrapper button[type=submit] {
  background-color: #e91e63;
  border: none;
  padding: 15px 35px;
  color: white;
  font-size: 12px;
  box-shadow: 0px 0.5px 15px -3px #e91e63;
  transition: box-shadow ease-out 0.3s;
  cursor: pointer;
}
body .elements .page-content-wrapper button[type=submit]:hover {
  box-shadow: 0px 3px 15px -3px #e91e63;
  transition: box-shadow ease-in 0.5s;
}
body .elements .page-content-wrapper table {
  width: 100%;
  border-spacing: 0;
}
body .elements .page-content-wrapper table tbody tr {
  text-align: left;
}
body .elements .page-content-wrapper table tbody tr th,
body .elements .page-content-wrapper table tbody tr td {
  border-bottom: #dcdcdc solid 1px;
  padding: 15px 0 15px 2px;
}
body .elements .page-content-wrapper table tbody tr:last-of-type td {
  border: 0;
}
body .elements .page-content-wrapper pre {
  overflow-x: scroll;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px;
  margin-bottom: 30px;
}
body .elements .page-content-wrapper blockquote {
  border-left: 5px solid #f5f5f5;
  padding: 10px 20px;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 30px;
}
body .elements .page-content-wrapper .blog-content-wrapper {
  font-size: 16px;
  padding: 80px 15px;
}
body .elements .page-content-wrapper .blog-content-wrapper .blog-forms-wrapper .blog-forms-content-wrapper form.form-element-wrapper .form-items-wrapper .form-item-wrapper {
  margin-bottom: 25px;
}

body .worth-a-thousand-words .hero-wrapper {
  color: white;
  flex-direction: column;
  gap: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
}
body .worth-a-thousand-words .hero-wrapper .hero-text {
  z-index: 1;
}
body .worth-a-thousand-words .hero-wrapper .hero-text a {
  color: white;
  font-weight: bold;
}
body .worth-a-thousand-words .page-content-wrapper {
  padding: 70px 3%;
  color: #3c4858;
}
body .worth-a-thousand-words .page-content-wrapper .blog-image-wrapper {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
body .worth-a-thousand-words .page-content-wrapper .blog-image-wrapper p {
  text-align: center;
  padding: 8px 0 15px;
}
body .worth-a-thousand-words .page-content-wrapper .blog-text-wrapper {
  font-size: 18px;
  padding-bottom: 30px;
}

@media screen and (max-width: 730px) {
  body .page-wrapper header nav .nav-items .nav-item {
    padding: 12px;
  }
  body .page-wrapper .hero-wrapper {
    height: 300px;
  }
  body .page-wrapper .hero-wrapper .hero-title {
    padding-top: 50px;
  }
  body .page-wrapper .home-hero-wrapper {
    margin-top: 75px;
  }
  body .page-wrapper .home-hero-wrapper .hero-image-wrapper {
    position: relative;
  }
  body .page-wrapper .home-hero-wrapper .hero-content-wrapper .hero-title-wrapper h1 {
    font-size: 30px;
  }
  body .page-wrapper .page-content-wrapper {
    margin: 0;
    border-radius: 0;
    top: -3px;
  }
  body .page-wrapper .page-content-wrapper .feat-wrapper .feat-items-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  body .page-wrapper .page-content-wrapper .about-wrapper {
    height: 400px;
  }
  body .page-wrapper .page-content-wrapper .about-wrapper .about-text-wrapper {
    padding-bottom: 40px;
  }
  body .page-wrapper .page-content-wrapper .about-wrapper .about-image-wrapper {
    text-align: center;
  }
  body .page-wrapper .page-content-wrapper .about-wrapper .about-image-wrapper img {
    max-width: 620px;
  }
  body .page-wrapper .contact-content-wrapper {
    flex-direction: column;
    width: calc(100% - 50px);
  }
  body .page-wrapper .contact-content-wrapper .left-column-wrapper,
  body .page-wrapper .contact-content-wrapper .right-column-wrapper {
    width: calc(100% - 50px) !important;
  }
  body .page-wrapper .contact-content-wrapper .left-column-wrapper {
    margin-bottom: 75px;
  }
  body .page-wrapper .contact-content-wrapper .left-column-wrapper .contact-form-wrapper input,
  body .page-wrapper .contact-content-wrapper .left-column-wrapper .contact-form-wrapper textarea {
    width: 100% !important;
  }
  body .page-wrapper footer .footer-items-wrapper {
    height: 90px;
    top: -3px;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
  }
  body .page-wrapper footer .footer-items-wrapper .footer-links-wrapper {
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=main.css.map */